/* style.css */
---
---

@import "minimal-light";

/* Make Guest Blogs & Commentaries section font size match other sections */
h2, h3, h4, h5, h6 {
  font-size: 1.5em; /* or your preferred size */
}

/* Ensure all list items have the same font size */
ul {
  font-size: 1em;
}

/* * CORRECTION: Normalize the styling of links (titles) within list items
 * to match the less prominent font size of the "Publication" citation.
 */
li a {
  /* Set font size smaller relative to the parent <ul> (which is 1em) */
  font-size: 0.9em; 
  /* Remove inherited italics that were visually increasing prominence */
  font-style: normal;
  /* Ensure titles are not overly bold */
  font-weight: normal; 
}


// /* Optional: If you want to specifically target the Guest Blogs section */
// #guest-blogs ul {
//   font-size: 1em;
// }